.root {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.image {
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.image:hover {
  margin-top: -8px;
  margin-bottom: 8px;
}
