body {
  margin: 0;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  src: url("./ArastryxSite/Fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  font-style: italic;
  src: url("./ArastryxSite/Fonts/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Timeless";
  src: url("./ArastryxSite/Fonts/Timeless.ttf");
}

@font-face {
  font-family: "Timeless";
  font-weight: bold;
  src: url("./ArastryxSite/Fonts/Timeless-Bold.ttf");
}
